USE [master]
GO
/****** Object:  Database [PontoTuristico]    Script Date: 12/01/2025 12:33:05 ******/
CREATE DATABASE [PontoTuristico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PontoTuristico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PontoTuristico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PontoTuristico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PontoTuristico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PontoTuristico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PontoTuristico]
GO
/****** Object:  Table [dbo].[PontoTuristico]    Script Date: 12/01/2025 12:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PontoTuristico](
	[IdPontoTuristico] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[IdUf] [int] NOT NULL,
	[Cidade] [varchar](50) NULL,
	[Referencia] [varchar](50) NULL,
	[Descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPontoTuristico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadeFederativa]    Script Date: 12/01/2025 12:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadeFederativa](
	[IdUf] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](30) NOT NULL,
	[Sigla] [char](2) NOT NULL,
	[CodigoIbge] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UnidadeFederativa] ON 

INSERT [dbo].[UnidadeFederativa] ([IdUf], [Descricao], [Sigla], [CodigoIbge]) VALUES (1, N'Acre', N'AC', N'12')
INSERT [dbo].[UnidadeFederativa] ([IdUf], [Descricao], [Sigla], [CodigoIbge]) VALUES (2, N'Alagoas', N'AL', N'27')
INSERT [dbo].[UnidadeFederativa] ([IdUf], [Descricao], [Sigla], [CodigoIbge]) VALUES (3, N'Amapá', N'AP', N'16')
SET IDENTITY_INSERT [dbo].[UnidadeFederativa] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Un_PontoTuristico_Nome_Uf_Cidade]    Script Date: 12/01/2025 12:33:05 ******/
ALTER TABLE [dbo].[PontoTuristico] ADD  CONSTRAINT [Un_PontoTuristico_Nome_Uf_Cidade] UNIQUE NONCLUSTERED 
(
	[Nome] ASC,
	[IdUf] ASC,
	[Cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PontoTuristico]  WITH CHECK ADD  CONSTRAINT [Fk_PontoTuristico_IdUf_UnidadeFederativa_IdUf] FOREIGN KEY([IdUf])
REFERENCES [dbo].[UnidadeFederativa] ([IdUf])
GO
ALTER TABLE [dbo].[PontoTuristico] CHECK CONSTRAINT [Fk_PontoTuristico_IdUf_UnidadeFederativa_IdUf]
GO
USE [master]
GO
