:root {
    --primaryColor: #fb4400;
    --secondaryColor: #fff;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.required-label {
    color: red;
    font-size: small;
    margin-left: 12px;
}

.input {
    border-radius: 20px;
    padding: 2px 12px 2px 12px;
    line-height: 30px;
    border: 1px solid #ccc;
    color: #888888;
}

.input:disabled {
    background-color: #f3f3f3;
}

.input:required {
    border: 2px solid #fb4400;
}