.container {
    padding: 0px 18% !important;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #fb4400;
    margin: 5vh 0vh 5vh 0vh;
}