:root {
    --primaryColor: #fb4400;
    --secondaryColor: #fff;
}

.primaryButton {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--primaryColor);
}

.primaryButton:hover {
    background-color: var(--primaryColor);
}

.primaryButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}